.style{
  display:flex;
  justify-content:space-between; /* logo left, menu right */
  align-items:center;

  width:100%;
  height:70px;

  padding:0 30px;

  background-image:url("/public/Assests/Images/Title_image.png");
  background-size:cover;
  background-position:center;

  position:fixed;
  top:0;
  left:0;

  z-index:1000; /* prevents overlap */
}


/* Logo */

#gs321{
  height:50px;
  width:230px;
  border-radius:8px;
}


/* Menu Items */

.menu-items{
  display:flex;
  gap:20px;
  align-items:center;
  list-style:none;
}




.lk1{
  text-decoration:none;
  color:white;
  font-weight:700;
  font-size:18px;
}

.lk1 li{
  list-style:none;
}


/* Hover effect */

.lk1:hover{
  color:#4a9aef;
}

.login-btn{
    text-decoration:none;
  color:white;
  font-weight:700;
  font-size:18px;
  list-style:none;
  background-color: rgb(7, 175, 7);
  border-radius: 8px;
  width: 90px;
  height: 33px;
  
}

.login-btn:hover{
  background-color: rgb(13, 153, 13);
  color: azure;

}

.logout-btn{
   text-decoration:none;
  color:white;
  font-weight:700;
  font-size:18px;
  list-style:none;
   background-color: rgb(216, 39, 16);
  border-radius: 8px;
   width: 90px;
  height: 33px;

}

.logout-btn:hover{
  background-color: rgb(201, 7, 7);

}

body{
  overflow-x:hidden;
}