.admin-container {
  padding: 40px;
  text-align: center;
  background: #f4f6f9;
  min-height: 100vh;
}

.admin-title {
  margin-bottom: 30px;
  color: #1b545e;
}

/* Dashboard Boxes */
.dashboard-boxes {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.box {
  width: 220px;
  padding: 30px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.3s;
  animation: fadeIn 1s ease-in-out;
}

.box:hover {
  transform: translateY(-5px);
}

.box h2 {
  font-size: 32px;
  color: #2e7d32;
}

.box p {
  margin-top: 10px;
  font-weight: bold;
}

.visitors {
  background: linear-gradient(to right, #e8f5e9, #ffffff);
}

/* Tables */
.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.admin-table th {
  background: #2e7d32;
  color: white;
  padding: 12px;
}

.admin-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.admin-table tr:hover {
  background-color: #f1f1f1;
}

.table-title {
  margin-top: 30px;
  color: #333;
}

.delete-btn {
  background: linear-gradient(45deg, #ff4b2b, #ff416c);
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  transition: 0.3s;
}

.delete-btn:hover {
  transform: scale(1.05);
}

.action-buttons{
display:flex;
gap:8px;
align-items:center;
}


/* Approve Button */

.approve-btn{
background:#28a745;
color:white;
border:none;
padding:6px 12px;
border-radius:5px;
cursor:pointer;
font-weight:500;
}

.approve-btn:hover{
background:#1e7e34;
}

/* Reject Button */

.reject-btn{
background:#ff9800;
color:white;
border:none;
padding:6px 12px;
border-radius:5px;
cursor:pointer;
font-weight:500;
}

.reject-btn:hover{
background:#e68900;
}
